


#seleccionador{ 
text-align:center;
}
#cuerpo{ 
float:left;
width:600px;
margin-left:50px;
}

.cabecera_tabla
{
text-align:center;
background:#0066CC;
color:#fff;
padding:3px 2px 3px 2px;
}

.cabecera_curso
{
font-weight: bold;
padding:5px 3px 3px 5px;
}