#menu ul, .submenu ul{
   list-style: none;
   margin: 0;
   padding: 0;
   margin-left: 5px;
   cursor:pointer;
}

#menu li{
   margin: 0;
   margin-top: 0px;
   
   float: left; 
   
}

#menu li a {
   font-family: arial;
   letter-spacing: 2px;
   font-size: 10px;
   color:#fff;
   text-decoration: none;      
   font-weight: bold;
   text-shadow: 0 -1px 1px rgba(0,0,0,0.25);   
   padding-top: 15px;
   padding-bottom: 5px;
}

#menu li a:hover { color:#111 }

.submenu{   
    margin-top: 10px;
   display: none;
   position: absolute;
   background: rgba(142,39,163,1);
background: -moz-linear-gradient(top, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,39,163,1)), color-stop(7%, rgba(142,39,163,1)), color-stop(36%, rgba(177,99,199,1)), color-stop(60%, rgba(137,13,156,1)), color-stop(77%, rgba(127,19,168,1)), color-stop(88%, rgba(120,23,176,1)));
background: -webkit-linear-gradient(top, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
background: -o-linear-gradient(top, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
background: -ms-linear-gradient(top, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
background: linear-gradient(to bottom, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
   
   
}
.submenu li{
   
    
   width: 170px;
   height: 30px;
   border-bottom: 1px solid #fff;
   
}

.submenu li:hover {
   background:#D9BCDE;
   
}

.submenu li:hover > a { color:#5C1168; }
.submenu li a {
   font-family: arial;
   font-size: 10px;
   color:#fff;
   text-decoration: none;
   text-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    }

.submenu li a:hover { color: #fff;}

div#menu2-contenedor { background: rgba(142,39,163,1);
background: -moz-linear-gradient(top, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,39,163,1)), color-stop(7%, rgba(142,39,163,1)), color-stop(36%, rgba(177,99,199,1)), color-stop(60%, rgba(137,13,156,1)), color-stop(77%, rgba(127,19,168,1)), color-stop(88%, rgba(120,23,176,1)));
background: -webkit-linear-gradient(top, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
background: -o-linear-gradient(top, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
background: -ms-linear-gradient(top, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
background: linear-gradient(to bottom, rgba(142,39,163,1) 0%, rgba(142,39,163,1) 7%, rgba(177,99,199,1) 36%, rgba(137,13,156,1) 60%, rgba(127,19,168,1) 77%, rgba(120,23,176,1) 88%);
    
    

}
.menu-fijo {
    position: fixed;
    top: 0;
    width:100%;
	z-index:99999;
}

div#menu2-contenedor ul.menu {

}

div#menu2-contenedor li {
    position: relative;
    z-index: 9;
    margin: 0;
    display: block;
    
}
div#menu2-contenedor li:hover>ul {
    left: -2px;
}

div#menu2-contenedor a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;     
    line-height: 41px;
    text-decoration: none;
    font: normal 12px Trebuchet MS;
}
div#menu2-contenedor a:hover, div#menu2-contenedor a:hover span { color: #fff; }
div#menu2-contenedor li.current a {}

div#menu2-contenedor span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu2-contenedor ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images_eapisi/item-pointer.gif);
}
div#menu2-contenedor ul ul a.parent:hover span {
    background-image: url(images_eapisi/item-pointer-mover.gif);
}
div#menu2-contenedor ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images_eapisi/item-pointer.gif);
}
/* menu::level1 */
div#menu2-contenedor a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #fff;
}

div#menu2-contenedor a:hover{
    padding: 0 10px 0 10px;
    line-height: 30px;
    text-align: center;
    color: #75289A;
}

.glyphicon :hover{
    color: white;
}


div#menu2-contenedor span {
    margin-top: 5px;
}/**@replace#1*/
div#menu2-contenedor li {border-right: 1px solid white;}
div#menu2-contenedor li.last { border-right: 0; }

/* menu::level2 */
div#menu2-contenedor ul ul li { background: none; }
div#menu2-contenedor ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background: none repeat scroll 0% 0% #1D4B73;
    margin-top:1px;
	
}

div#menu2-contenedor ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(169,169,169);
}
div#menu2-contenedor ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(169,169,169);
}
div#menu2-contenedor ul ul a:hover span {
    color: #fff;font-weight:bold;
}
div#menu2-contenedor ul ul li.last { background: none; }
div#menu2-contenedor ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu2-contenedor ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu2-contenedor ul ul ul { background: rgb(14,14,14);border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1; }
div#menu2-contenedor ul ul ul ul { background: rgb(38,38,38); }
div#menu2-contenedor ul ul ul ul { background: rgb(35,35,35);border-top:1px solid #D1D1D1; }

/* lava lamp */
div#menu2-contenedor li.back {
    background: url(images_eapisi/lava.png) no-repeat right -44px !important;
    background-image: url(../images_eapisi/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu2-contenedor li.back .left {
    background: url(images_eapisi/lava.png) no-repeat top left !important;
    background-image: url(images_eapisi/lava.gif);
    height: 44px;
    margin-right: 8px;
}
.required{
    border: 1px solid #ff0000;
}